body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Photo by Andre Furtado on Unsplash */
  background: #2c7c94;
  display: flex;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-kerning: auto;
}

.header {
  position:fixed;
  left:0px;
  top: 30px;
  height: 60px;
  width:100%;
  color: #F6F6EF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.header-text {
  text-transform: uppercase;
  font-size: xx-large;
  width: 100%;
  font-weight: 300;
  line-height: 50px;
  height: 50px;
  background: #c4aa23;

}

.large-font {
  font-size: xx-large;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  font-weight: 300;
  margin-top: -.01px;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.headshot {
    max-width: 10%;
    border-radius: 50%;
    border: 5px solid  #c4aa23;
}

.frontpagename {
  color: #F6F6EF;
  font-weight: 500;
  font-size: xx-large;
  margin-top: -.25%;
}

.name-plate {
  color: #F6F6EF;
  font-weight: 200;
  /* border: 2px solid white; */
  /* background: #c4aa2390; */
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;

}

.center-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 3%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  /* border: 5px solid white; */
  list-style-type: none;
  font-size: x-large;
  text-transform: uppercase;
}

.column-nav {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.row-nav {
  position: fixed;
  bottom: 150px;
  display: flex;
  flex-direction: row;
  gap: 2em;
}

a {
  color: #F6F6EF;
  text-decoration: none;
  padding-top: 8%;
  text-align: center;
  font-size: smaller;
}

a:hover {
  color: #a65852;
}



footer {
  position:fixed;
  left:0px;
  bottom:80px;
  width:100%;
  line-height: 50px;
  height: 50px;
  background: #c4aa23;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 300;
  justify-content: center;
}

.footer-nav > a {
  padding-top: 0%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.social-icons > li {
  margin: 2%;
}


.card-container,.project-card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-small;
  margin-top: -20px;
  color: #E9ECD090;
  text-transform: uppercase;
}

.about-block, .portfolio-block, .contact-block {
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  
}

.experience-block, .referrals-block {
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.job-container,.project{
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.2);
  margin: 10px;
  width: 40%;
  padding: 5px;
  /* background-color: #a6d0c810; */
}

.about-overview {
  margin-top: -1.5em;
  font-size: x-small;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #0f0f0f;
  /* color: #E9ECD0;
  text-align: justify;
  background-color: #F7F8EE70; */
}

.location-time-container{
  display: flex;
  gap: 6em;
  justify-content: center;
  margin-top: -1em
}

.job-title {
  margin: .3em;
  color: #F6F6EF;
  font-weight: 300;
}

.company{
  font-weight: 300;
    color:  #dbdbdb;
  
}

.further-stuff{
  font-weight: 500;
  color: #F6F6EF;
  font-size: x-large;
  margin-bottom: -2%;
}

.further-project {
  font-size: large;
  font-weight: 100;
  color: #F6F6EF;
}

.further-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.further-descriptor {
  color:#dbdbdb;
  margin-top: -.5%;

}

.project-icon {
  display: flex;
  flex-direction: column;
  color: #F6F6EF;
  font-size: large;
  margin-top: -5%;
  
}

.project-icon:last-child {
  margin-bottom: 5%;
}


.location, .timeframe{
  font-weight: 300;
    color: #dbdbdb;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: small;
}

.further-location {
  font-weight: 300;
  color: #dbdbdb;
  font-size: small;
  margin-bottom: -1%;
}

.further-location:last-child {
  margin-bottom: 1%;
}

.company{
  display: inline;
}

.job-container > ul {
  text-align: left;
  margin-left: -10px;
  margin-right: 10px;
}

.job-container > ul > li{
  text-align: left;
  font-size: small;
  color: #dbdbdb;
  padding-top: .5em;
  padding-bottom: .5em;
  font-weight: 300;
}

.logo {
  max-width: 20%;
  border: 2px solid #F7F8EE70;
  border-radius: 30px;
  float: left;
}

.referral {
  font-size: small;
  margin-left: 25%;
  color: #343c24;
  font-style: italic;
  margin-right: 5%;
  margin-top: 3%;
  text-align: justify;
}

.referral-caveat {
  position: fixed;
  top: 130px;
  font-size: x-small;
  text-align: center;
  color: #F6F6EF90;
  margin-top: -1%;
  /* margin-top: -3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%; */
}

.byline {
  font-size: small;
  margin-top: -3%;
  margin-left: 50%;
  margin-bottom: -.5%;
}


.job-overview{
  font-weight: 300;
    font-size: small;
  margin-top: .5em;
  color: #F6F6EF;
}

.referral-image {
  max-width: 15%;
  border-radius: 50%;
  border: 2px solid #c4aa23;
}

.referral-overview{
  font-weight: 500;
  font-size: small;
  margin-top: .5em;
  color: #dbdbdb;
  text-align: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
}

.contact-line {
  margin-top: -1em;
  font-size: small;
  padding-bottom: .5em;
  display: flex;
  justify-content: center;
}

.project:hover{
  cursor: pointer;
  filter: blur(.15rem);
}

.project-card-link{
  text-decoration: none;
  color:rgb(82, 80, 80);
}

.resume-bullets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 10%;
}

.section-break {
  height: 40px;
}

.small-section-break {
  height: 20px;
}

.credits {
  color: #dbdbdb;
  font-size: small;
  margin-left: 1%;
}

@media(max-width: 1300px) { 
  .job.container, .project {
    width: 90%;
  }

  .headshot {
    max-width: 13%;
    border: 3px solid #c4aa23;
    position: fixed;
    top: 120px;
  }

  .experience-block, .referrals-block {
    margin-top: 10%;
    margin-bottom: 20%;
  }

  .box {
    width: 60%;
  }
}

@media(max-width: 1000px) {
  
  
  #left-panel {
    flex-basis: 100%;
  }

  nav ul li {
    font-size: 1rem;
  }

  .social-icons {
    margin-top: 50px;
  }

  #right-panel {
    display: none;
  }

  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
    
  }

  .headshot {
    max-width: 20%;
    border: 3px solid #c4aa23;
    position: fixed;
    top: 80px;

  }

  .header {
    top: 1px;
  }

  footer {
    bottom: 5px;
  }
  
  .experience-block, .referrals-block {
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .job-container,.project{
    width: 80%;
  
  }
  
  .further-container {
    margin-top: 2%;
    flex-direction: column;
    gap: 0em;
  }

  .row-nav {
    position: fixed;
    bottom: 70px;
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  .referral-caveat {
    position: fixed;
    top: 80px;
  }


}

@media(max-width: 450px) {
  .headshot {
    max-width: 40%;
  }
  
  .referral-caveat {
    position: fixed;
    top: 80px;
    font-size: xx-small;
  }

  #first-job-container{
    margin-top: 40px;
  }

  .column-nav {
    position: fixed;
    top: 220px;
    font-size: normal;
  }
}
