body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Photo by Andre Furtado on Unsplash */
  background: #2c7c94;
  display: flex;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-kerning: auto;
}

header {
  position:fixed;
  left:0px;
  top: 30px;
  height: 60px;
  width:100%;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: smaller;
  background: #c4aa2395;
  text-transform: uppercase;
}

.header-text {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-size: large;
  justify-content: center;
}

.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.headshot {
    max-width: 6%;
    border-radius: 5%;
    border: 2px solid #F7F8EE70;
}


.name-plate {
  color: white;
  font-weight: 200;
  /* border: 2px solid white; */
  background: #c4aa2390;
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;

}

.center-nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
  /* border: 5px solid white; */
  list-style-type: none;
  font-size: x-large;
  text-transform: uppercase;
}

.column-nav {
  display: flex;
  flex-direction: column;
}

a {
  color: white;;
  text-decoration: none;
  padding-top: 8%;
  text-align: center;
  font-size: smaller;
}

a:hover {
  color: #c4aa23;
}



footer {
  position:fixed;
  left:0px;
  bottom:80px;
  width:100%;
  background: #c4aa2390;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-size: large;
  justify-content: center;
}

.footer-nav > a {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.social-icons > li {
  margin: 2%;
}


.card-container,.project-card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-small;
  margin-top: -20px;
  color: #E9ECD090;
  text-transform: uppercase;
}

.about-block, .portfolio-block, .contact-block {
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  
}

.experience-block, .referrals-block {
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.job-container,.project{
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 3px 0px rgba(255, 255, 255, 0.2);
  margin: 10px;
  width: 40%;
  padding: 5px;
}

.about-overview {
  margin-top: -1.5em;
  font-size: x-small;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #0f0f0f;
  /* color: #E9ECD0;
  text-align: justify;
  background-color: #F7F8EE70; */
}

.location-time-container{
  display: flex;
  gap: 6em;
  justify-content: center;
  margin-top: -1em
}

.job-title {
  margin: .3em;
  color: #fbe45b;
}

.company{
  font-weight: 500;
  color:  white;
  
}

.location, .timeframe{
  font-weight: 500;
  color: #fbe45b;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: small;
}

.company{
  display: inline;
}

.job-container > ul {
  text-align: left;
  margin-left: -10px;
  margin-right: 10px;
}

.job-container > ul > li{
  text-align: left;
  font-size: small;
  color: #fbe45b;
  padding-top: .5em;
  padding-bottom: .5em;
  font-weight: 300;
}

.logo {
  max-width: 20%;
  border: 2px solid #F7F8EE70;
  border-radius: 30px;
  float: left;
}

.referral {
  font-size: small;
  margin-left: 25%;
  color: #343c24;
  font-style: italic;
  margin-right: 5%;
  margin-top: 3%;
  text-align: justify;
}

.referral-caveat {
  font-size: xx-small;
  text-align: center;
  margin-top: -3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.byline {
  font-size: small;
  margin-top: -3%;
  margin-left: 50%;
  margin-bottom: -.5%;
}


.job-overview{
  font-weight: 500;
  font-size: small;
  margin-top: .5em;
  color: white;
}

.contact-line {
  margin-top: -1em;
  font-size: small;
  padding-bottom: .5em;
  display: flex;
  justify-content: center;
}

.project:hover{
  cursor: pointer;
  filter: blur(.15rem);
}

.project-card-link{
  text-decoration: none;
  color:rgb(82, 80, 80);
}

.resume-bullets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: 10%;
}

.section-break {
  height: 40px;
}

@media screen and (max-width: 1140px) { 
  .job.container, .project {
    width: 80%;
  }
}

@media(max-width: 1000px) {
  #left-panel {
    flex-basis: 100%;
  }

  nav ul li {
    font-size: 1rem;
  }

  .social-icons {
    margin-top: 50px;
  }

  #right-panel {
    display: none;
  }

  .box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }

  .headshot {
    max-width: 20%;
  }

  header {
    top: 1px;
  }

  footer {
    height: 5%;
  }
  
  .experience-block, .referrals-block {
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .job-container,.project{
    width: 80%;
  }

}
