/* color: #2c7c94; #a65852; #c4aa23; #F6F6EF; */


body {
  height: 100vh;
  background-color: #2c7c94;
  font-family: Oswald, Arial, Helvetica, sans-serif;
}

header, main, footer {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  color: #F6F6EF;
  text-transform: uppercase;
}

header {
  position: fixed;
  width: 60%;
  top: -40px;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  font-family: Oswald, Arial, Helvetica, sans-serif;  font-size: 4rem;
  top: 0px;
}

h2 {
  margin-top: -1em;
  font-family: Oswald, Arial, Helvetica, sans-serif;  font-size: 3rem;
}

p {
  font-size: 2rem;
}

#codeBoxes {
  margin-bottom: 100px;
}

#codeBoxes ul {
  margin: 0;
  padding: 0;
  margin: 40px auto;
  display:flex;
  list-style-type: none;
  justify-content: center;
}

#codeBoxes ul:first-child {
  margin-top: 140px;
}

#codeBoxes li {
  margin: 0 20px;
  padding: 20px 30px;
  cursor: pointer;
  color: #F6F6EF;
  background-color: #c4aa23;
}

#codeBoxes li:hover {
  background-color: #a65852;
  cursor: pointer;
}


footer {
  margin-top: 50px;
  font-size: 12px;
}

button {
  display: block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #ABD587;
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 20px;
}

button:hover {
  background-color: #80a85d;

}

#btnStart {
  display: block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #a65852;
  color: #F6F6EF; 
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 40px;

}

#codeButton {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: white;
  height: 40px;
  vertical-align: middle;
}

#btnStart:hover {
  background-color: #c4aa23;
}

#btnStartOver {
  display: inline-block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #a65852;
  color: #F6F6EF; 
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 30px;
  
}

#btnStartOver:hover {
  background-color: #c4aa23;
}

footer {
  bottom: 0px;
  position: fixed;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#btnHome {
  display: inline-block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #a65852;
  color: #F6F6EF; 
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 30px;
}

#btnHome:hover {
  background-color: #c4aa23;
}

.hidden {
  display:none;
}

#codeBoxes li.selected {
  text-transform: uppercase;
  /* font-weight: 400;
  font-size: 30px; */
  background-color: #a65852;
}

#codeBoxes li.blue {
  background-color: blue;
}

#codeBoxes li.green {
  background-color: green;
}

#codeBoxes li.red {
  background-color: red;
}

#codeBoxes li.white {
  background-color: white;
}

#codeBoxes p.guessResult {
  font-size: 1rem;
  margin: -30px;
}

#bottomMargin {
  display: block;
  height: 10%;
}


@media(max-width: 450px) {
  header {
    margin-top: 20px;
  }
  
  h1 {
    font-size: 2em;
  }


  #codeBoxes li {
    margin: 0 10px;
    
  }

  footer {
    bottom: 20px;
  }

  #codeBoxes p.guessResult {
    font-size: 15px;
    margin: -30px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }

  #btnStartOver, #btnHome {
    font-size: 2em;
  }
}