/* color: #2c7c94; #a65852; #c4aa23; #F6F6EF; */

body {
  height: 100vh;
  width: 100vw;
  background-color: #2c7c94;
  font-family: Oswald, Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #F6F6EF;
  text-transform: uppercase;
  background-color: #2c7c94;
 
}

main {
  text-align: center;
  color: #F6F6EF;
  text-transform: uppercase;
}

h1 {
  font-family: Oswald, Arial, Helvetica, sans-serif;  font-size: 4rem;
  top: 0px;
  background-color: #2c7c94;
  border-bottom: 2px solid white;

}

h2 {
  margin-top: -1em;
  font-family: Oswald, Arial, Helvetica, sans-serif;  font-size: 3rem;
}

.solveCode {
  margin-top: 100px;
  /* width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-bottom: 2px solid white;
  padding-bottom: 0px; */
}

#codeDisplay {
  margin-top: 4%;
  margin-bottom: -100px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#codeDisplay ul {
  margin-bottom: 40px;
  padding: 0;
  margin: 40px auto;
  display:flex;
  list-style-type: none;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#codeDisplay li {
  margin: 0 20px;
  /* padding: 20px 30px; */
  cursor: pointer;
  color: #F6F6EF;
  background-color: #c4aa23;
  border-radius: 100px;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
}

.gameDesc {
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
}

#codeBoxes {
  margin-bottom: 100px;
  width: 26%;
  margin-left: 37%;
  margin-right: 37%; 
  margin-top: -120px;
}

#codeBoxes ul {
  margin-bottom: 40px;
  padding: 0;
  margin: 40px auto;
  display:flex;
  list-style-type: none;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#codeBoxes ul:first-child {
  margin-top: 140px;
}

#codeBoxes li {
  margin: 0 20px;
  /* padding: 20px 30px; */
  cursor: pointer;
  color: #F6F6EF;
  background-color: #c4aa23;
  border-radius: 100px;
  width: 3rem;
  height: 3rem;
}

#codeBoxes li:hover {
  background-color: #a65852;
  cursor: pointer;
}

.small-spacer {
  height: 40px;
}

button {
  display: block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #ABD587;
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 20px;
}

button:hover {
  background-color: #80a85d;

}

#btnStart {
  display: block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #a65852;
  color: #F6F6EF; 
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 40px;

}

#codeButton {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border-radius: 100px;
  width: 6rem;
  height: 3rem;
  vertical-align: middle;
}

#btnStart:hover {
  background-color: #c4aa23;
}

#btnStartOver {
  display: inline-block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #a65852;
  color: #F6F6EF; 
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 30px;
  
}

#btnStartOver:hover {
  background-color: #c4aa23;
}

footer {
  /* margin-top: 50px; */
  font-size: 12px;
  position: fixed;
  background-color: #2c7c94;
  bottom: 0px;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-top: 2px solid white;
}

#btnHome {
  display: inline-block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #a65852;
  color: #F6F6EF; 
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 30px;
}

#btnHome:hover {
  background-color: #c4aa23;
}

.hidden {
  display:none;
}

#codeBoxes li.selected {
  text-transform: uppercase;
  /* font-weight: 400;
  font-size: 30px; */
  background-color: #a65852;
}

#codeBoxes li.blue {
  background-color: rgb(62, 62, 139);
}

#codeBoxes li.green {
  background-color: rgb(196, 202, 109);
}

#codeBoxes li.red {
  background-color: #f24f26;
}

#codeBoxes li.white {
  background-color: white;
}

#codeBoxes p.guessResult {
  font-size: 1rem;
  margin: -30px;
}

#bottomMargin {
  display: block;
  height: 10%;
}

@media(max-width: 450px) {
  header {
    margin-top: -10px;
    width: 100%;
  }
  
  h1 {
    font-size: 2em;
    width: 100%;
  }

  #codeBoxes li {
    margin: 0 10px;
    
  }

  footer {
    bottom: 0px;
  }

  .gameDesc {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: -1px;
    font-size: 15px;
  }

 .solveCode {
   border-bottom: 2px solid white;
   margin-top: -30px;
 }
  
  #codeDisplay {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #codeDisplay ul {
    margin-bottom: 40px;
    padding: 0;
    margin: 40px auto;
    display:flex;
    list-style-type: none;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #codeBoxes {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  #codeBoxes p.guessResult {
    font-size: 15px;
    margin: -30px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  #btnStartOver, #btnHome {
    font-size: 2em;
  }


}
